include ../layout.jade

include ../top_menu.jade

.container
  .row
    .col-md-12.all_center_block
      .col-md-6.personal-data-left
        .user-pic
          //Аватар пользователя? Нужен стандартный. (Или вообще ну его.)
          img(src="public/img/bandi.png", alt="")
      .col-md-6.personal-data-right
        form(action="/login" method="post")
          //data change, поля, содержащие имя, e-mail и телефон, которые можно менять.
          .dtchng
            .user-name
              p Имя: #{user_name}
            .user-surname
              p Фамилия: #{user_surname}
            .user-email
              p E-mail: #{user_email}
            .user-telephone
              p Номер телефона: #{user_telephone}
          .user-data-change
            p Изменить данные
          .user-password-change
            p Изменить пароль
          .new_photo
            p Изменить фотографию
include ../footer.jade
      
include ../layout_ft.jade
