include ../layout.jade

include ../top_menu.jade

p #{is_admin}
p u - #{user}
- if (is_admin)
  .container
    .row
      .col-md-12
        .mainHeader.center
          p Управление сайтом
        a(href="/albumschange").col-md-6.changer
          button.albumschange
            p Изменение альбомов и фотографий
        a(href="/courseschange").col-md-6.changer
          button.courseschange
            p Изменение курсов
- else
    .container
      .row
        .col-md-12.all_center_block
          p Вы не залогинены.
    
footer.container-fluid.no_top
  .container
    .row
      .col-md-4.contacts
        p W'Studio Школа стилистов ....-2017
        p Адрес: Г. Москва, ул. Рязанский проспект, 22/2
        p Телефон: +7 (...) ... - .. - ..
        p Как проехать?
      .col-md-4.soc
        //ro_sq = round square
        a(href="#vk").ro_sq
          i(aria-hidden="true").fa.fa-vk
        a(href="#instagram").ro_sq
          i(aria-hidden="true").fa.fa-instagram
      .col-md-4.diamant
        p Дизайн сайта:
        br
        p 
          a(href="#") Diamant Studio

 
include ../layout_ft.jade
