include ./../includes/layout.jade

include ./../includes/top_menu.jade

- if (user)
    form(action="/albumschange/#{field}", method="post", enctype="multipart/form-data")
      input(type="file", name="#{field}")
      button(type="submit", value="dc") ТЫК
    p #{field}
- else
    p сасамба. 

include ./../includes/layout_ft.jade