.all_center_block
  form(action="/login" method="post")
    .a_login
      .header.mid
        p Логин
      input(type="text" name="log" placeholder="name = 'log'")
    .a_pass
      .header.mid
        p Пароль
      input(type="password" name="pass" placeholder="name = 'pass'")
    button(type="submit") Войти! 
