include ./../includes/layout.jade

include ./../includes/top_menu.jade

.all_center_block
  form.adm_pass
    .a_login
      .header.mid
        p Логин
      input(type="text" name="log" placeholder="name = 'log'")
    .a_pass
      .header.mid
        p Пароль
      input(type="password" name="pass" placeholder="name = 'pass'")
    button(type="submit") Войти! 


include ./../footer.jade


include ./../layout_ft.jade
