footer.container-fluid.hidden-xs.hidden-sm
  .container
    .row
        .col-md-4.col-lg-4
          .contacts
            p Face Art Школа стилистов ....-2017
            p Адрес: Г. Москва, ул. Рязанский проспект, 22/2
            p Телефон: +7 (964) 575 - 78 - 36
            a(href="/contacts").underline_bd Как проехать?
        .col-md-4.col-sm-4.col-xs-4.col-lg-4.soc
          a(href="https://vk.com/id15140215").ro_sq
            i(aria-hidden="true").fa.fa-vk
          a(href="https://www.instagram.com/anna_shkolastilistov/").ro_sq
            i(aria-hidden="true").fa.fa-instagram
          a(href="#").ro_sq
            i(aria-hidden="true").fa.fa-telegram
          a(href="#").ro_sq
            i(aria-hidden="true").fa.fa-youtube
        .col-md-4.col-sm-4.col-xs-4.col-lg-4.diamant
          p Дизайн сайта:
          p 
            a(href="#") Diamant Studio

footer.container-fluid.hidden-lg.hidden-md.small_footer
  .container
    .row
      .col-md-12.col-lg-12
        .contacts
          p Face Art Школа стилистов ....-2017
          p г. Москва, ул. Рязанский проспект, 22/2
          p +7 (964) 575 - 78 - 36
          a(href="/contacts").underline_bd Как проехать?
        .col-sm-12.col-xs-12.soc
          a(href="https://vk.com/id15140215").ro_sq
            i(aria-hidden="true").fa.fa-vk
          a(href="https://www.instagram.com/anna_shkolastilistov/").ro_sq
            i(aria-hidden="true").fa.fa-instagram
          a(href="#").ro_sq
            i(aria-hidden="true").fa.fa-telegram
          a(href="https://www.youtube.com/channel/UCHljhioqC73ovELBU4qGnSQ").ro_sq
            i(aria-hidden="true").fa.fa-youtube
        .col-md-12.col-sm-12.col-xs-12.col-lg-12.diamant
          p Дизайн сайта:
          p 
            a(href="#") Diamant Studio