footer.container-fluid
  .container
    .row
      .col-md-4.col-sm-4.col-xs-4.col-lg-4.contacts
        p W'Studio Школа стилистов ....-2017
        p Адрес: Г. Москва, ул. Рязанский проспект, 22/2
        p Телефон: +7 (964) 575 - 78 - 36
        p Как проехать?
      .col-md-4.col-sm-4.col-xs-4.col-lg-4.soc
        //ro_sq = round square
        a(href="https://vk.com/id15140215").ro_sq
          i(aria-hidden="true").fa.fa-vk
        a(href="https://www.instagram.com/anna_shkolastilistov/").ro_sq
          i(aria-hidden="true").fa.fa-instagram
        a(href="#").ro_sq
          i(aria-hidden="true").fa.fa-telegram
      .col-md-4.col-sm-4.col-xs-4.col-lg-4.diamant
        p Дизайн сайта:
        br
        p 
          a(href="#") Diamant Studio
