footer.container-fluid
  .container
    .row
      .col-md-4.contacts
        p W'Studio Школа стилистов ....-2017
        p Адрес: Г. Москва, ул. Рязанский проспект, 22/2
        p Телефон: +7 (...) ... - .. - ..
        p Как проехать?
      .col-md-4.soc
        //ro_sq = round square
        .ro_sq
          //vk
        .ro_sq
          //inst
      .col-md-4.diamant
        p Дизайн сайта:
        br
        p Diamant Studio
