include layout.jade
  
include top_menu.jade

.container
  .carousel
    .row
      .col-md-12
        .owl-carousel.owl-theme
          .slide
            .onslide
              .info.header
                p Зарегистрируйся и получи бесплатный урок
              .info.text
                p Видео-урок от ведущих преподавателей школы
              a(href="#").button
                p Заказать!
            img(src="public/img/car_example.png", alt="")
          .slide
            .onslide
              .info.header
                p Зарегистрируйся и получи бесплатный урок
              .info.text
                p Видео-урок от ведущих преподавателей школы
              a(href="#").button
                p Заказать!
            img(src="public/img/car_example.png", alt="")


- var i = 0
.container
  .albums
    .row
      .header.col-md-12
        p Альбомы
    .row
      //.album_form.col-md-3
        .album_img
          img(src="public/img/example.png" alt="")
        .album_name
          p name#1
      while i < count
        .album_form.col-md-3
          .album_img
            img(src="public/img/main/#{i}.png" alt="")
          .album_name
            p #{list.russian[i]}
        - i= i+1
      

      

include ./footer.jade

include ./layout_ft.jade
