include ./layout.jade
a(href="./admin") Вход в админку* (не отличается от обычного входа, кроме неймов полей)
br
a(href="./login") Вход на сайт
br
a(href="./registration") Регистрация
br
p В задницу ссылки, я слишком сонный, чтобы искать пути
include ./layout_ft.jade
