include ./layout.jade
a(href="./admin/index.html") Вход в админку* (не отличается от обычного входа, кроме неймов полей)
br
a(href="./login/index.html") Вход на сайт
br
a(href="./registration/index.html") Регистрация
br
p В задницу ссылки, я слишком сонный, чтобы искать пути
include ./layout_ft.jade
