doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title W'Studio - школа стилистов
    meta(name="description" content="")
    meta(http-equiv="X_UA_Compatible" content = "IE-edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(link rel="shortcut icon" href="./img/favicon.png")
    link(link rel="stylesheet" href="public/libs/owlcarousel/owl.carousel.css")
    link(link rel="stylesheet" href="public/libs/owlcarousel/owl.theme.default.min.css")
    link(link rel="stylesheet" href="public/libs/bootstrap/bootstrap-grid-3.3.1.min.css")
    link(link rel="stylesheet" href="public/libs/font-awesome-4.7.0/css/font-awesome.min.css")
    link(link rel="stylesheet" href="public/libs/fancybox/jquery.fancybox.css")
    link(link rel="stylesheet" href="public/libs/countdown/jquery.countdown.css")
    link(link rel="stylesheet" href="public/css/fonts.css")
    link(link rel="stylesheet" href="public/css/main.css")
    link(link rel="stylesheet" href="public/css/media.css")
    link(link rel="stylesheet" href="public/fonts/bebasneue/bebasneue.css")
    link(link rel="stylesheet" href="public/fonts/bradobrei/bradobrei.css")
    link(link rel="stylesheet" href="public/libs/pushy/css/pushy.css")
  body
