doctype html
//Обычные комментарии для IE.
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html(lang="ru")
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    title Template
    meta(name="description" content="")
    meta(http-equiv="X_UA_Compatible" content = "IE-edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(link rel="shortcut icon" href="./img/favicon.png")
    //Bootstrap332
    link(link rel="stylesheet" href="libs/bootstrap/bootstrap-grid-3.3.1.min.css")
    //FA470
    link(link rel="stylesheet" href="libs/font-awesome-4.2.0/css/font-awesome.min.css")
    link(link rel="stylesheet" href="libs/fancybox/jquery.fancybox.css")
    link(link rel="stylesheet" href="libs/owl-carousel/owl.carousel.css")
    link(link rel="stylesheet" href="libs/countdown/jquery.countdown.css")
    link(link rel="stylesheet" href="css/fonts.css")
    link(link rel="stylesheet" href="css/main.css")
    link(link rel="stylesheet" href="css/media.css")
    link(link rel="stylesheet" href="fonts/bebasneue/bebasneue.css")
    link(link rel="stylesheet" href="fonts/bradobrei/bradobrei.css")
  body
