.container-fluid.top_menu
  .container
    .row
      .col-md-12
          nav.hd_buttons
              ul
                a(href="./about_us")
                  li О нас
                a(href="./courses") 
                  //wst = width sixteen
                  li.wst Курсы
                a(href="./price") 
                  li Цены
                a(href="./shedule") 
                  li Расписание
                a(href="./gallery") 
                  li Галерея
                a(href="./contacts") 
                  li Контакты
