.container-fluid.top_menu
  .col-md-12
    .row
      nav.hd_buttons
          ul
            li
              a(href="./login") Войти!
            li
              a(href="./registration") Зарегистрироваться!
            li
              a(href="./admin") /admin
