nav.pushy.pushy-right
  pushy-content
    ul 
      li
        button.menu-btn.rgt
          i(aria-hidden="true").class.fa.fa-times
      if (user==null)
        li.pushy-link
          a(href="/login") Вход
        li.pushy-link
          a(href="/registration") Регистрация
      else
        li.pushy-link
          a(href="/perarea") #{user}
        li.pushy-link
          a(href="/logout") Выйти
      li.pushy-link
        a(href="/about_us") О нас
      li.pushy-link
        a(href="/courses") Курсы
      li.pushy-link
          a(href="/price") Цены
      li.pushy-link
        a(href="#") Расписание
      li.pushy-link
        a(href="/gallery") Галерея
      li.pushy-link
        a(href="/contacts") Контакты
      
button.menu-btn.hidden-lg.hidden-md.m-btn
  i(aria-hidden="true").class.fa.fa-bars
.container
  .logo
    .row
      .col-md-3.col-xs-4
      .col-md-6.col-xs-4
        a(href="/")
          p
            span W
            | 'Studio
      .col-md-3.col-xs-4
        //contacts-login block
        .cl_block.hidden-xs.hidden-sm
          p.telephone 
            i(aria-hidden="true").fa.fa-mobile
            span.sel  +7 (903) 000-00-00
          if(user==null)      
            p.log_reg
              a(href="/login")Вход
              a(href="/registration")Регистрация
          else
            p.log_reg
              a(href="/perarea") #{user}
              a(href="/logout") Выйти
  .underlogo
    .col-md-3.col-xs-4
    .col-md-6.col-xs-4
      .row
        p Школа стилистов
    .col-md-4.col-xs-4

.container-fluid.top_menu.hidden-xs.hidden-sm
  .container
    .row
      .col-md-12
          nav.hd_buttons
              ul
                a(href="/about_us")
                  li О нас
                a(href="/courses") 
                  //wst = width sixteen
                  li.wst Курсы
                a(href="/price") 
                  li Цены
                a(href="/shedule") 
                  li Расписание
                a(href="/gallery") 
                  li Галерея
                a(href="/contacts") 
                  li Контакты
