.emerg_content
    include ../layout.jade
    include ../top_menu.jade

    - var i = 0
    .container
        .row
            .album_form_mobi
                .album_form.col-md-6.ab_us_page
                    .person_name_header
                        p Анна Прокопьева
                    .album_img
                        img(src="public/img/1.png" alt="")
                    .album_name.junior_position
                        p Основатель.
                        p Визажист , стилист по причёскам, бровист.
                .album_form.col-md-6.ab_us_page
                    .person_name_header
                        p Евгения Хрулева
                    .album_img
                        img(src="public/img/2.png" alt="")
                    .album_name.junior_position
                        p Преподаватель.
                        p Визажист, стилист по причёскам , бровист
.ab_us_sm_footer
    include ../footer.jade

include ../layout_ft.jade
