.emerg_content
    include ../layout.jade
    include ../top_menu.jade

    - var i = 0
    .container
        .row
            .album_form.col-md-3.ab_us_page
                .person_name_header
                    p Собака 12
                .album_img
                    img(src="public/img/testets.jpg" alt="")
                .album_name.junior_position
                    p Сусяка 12Хорош
            .album_form.col-md-3.ab_us_page
                .person_name_header
                    p Собака 12
                .album_img
                    img(src="public/img/testets.jpg" alt="")
                .album_name.junior_position
                    p Сусяка 12Хорош
            .album_form.col-md-3.ab_us_page
                .person_name_header
                    p Собака 12
                .album_img
                    img(src="public/img/testets.jpg" alt="")
                .album_name.junior_position
                    p Сусяка 12Хорош
            .album_form.col-md-3.ab_us_page
                .person_name_header
                    p Собака 12
                .album_img
                    img(src="public/img/testets.jpg" alt="")
                .album_name.junior_position
                    p Сусяка 12Хорош
            .album_form.col-md-3.ab_us_page
                .person_name_header
                    p Собака 12
                .album_img
                    img(src="public/img/testets.jpg" alt="")
                .album_name.junior_position
                    p Сусяка 12Хорош
             .album_form.col-md-3.ab_us_page
                .person_name_header
                    p Собака 12
                .album_img
                    img(src="public/img/testets.jpg" alt="")
                .album_name.junior_position
                    p Сусяка 12Хорош
             .album_form.col-md-3.ab_us_page
                .person_name_header
                    p Собака 12
                .album_img
                    img(src="public/img/testets.jpg" alt="")
                .album_name.junior_position
                    p Сусяка 12Хорош
             .album_form.col-md-3.ab_us_page
                .person_name_header
                    p Собака 12
                .album_img
                    img(src="public/img/testets.jpg" alt="")
                .album_name.junior_position
                    p Сусяка 12Хорош

include ../footer.jade

include ../layout_ft.jade
