@import url("http://fonts.googleapis.com/css?family=Quicksand");
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
body{font-family:'Georgia';background-color:#faf9f0;color:#444}
header{	font-family:'Quicksand';
		padding:50px 10px;
		color:#fff;
		font-size:25px;
		text-align:center;
		background-color:#fa5b4d;
		border-bottom:1px solid #df1806;
		text-shadow:0 -1px 0 #df1806}
.container{width:1000px;margin-left:auto;margin-right:auto;overflow:hidden}
.main-content{float:left;width:626px;margin-left:auto;margin-right:auto;}
.main-content p{margin-bottom:20px}
.main-content .usedLogin{font-weight:bold}
.main-content h1{margin:13px 10px 4px;
				padding-bottom:10px;
				border-bottom:1px dotted #ddd;
				-webkit-border-radius:2px 2px 0 0;
				border-radius:2px 2px 0 0;
				margin-bottom:10px}

.askForm{
}
form{font-size: 12px}
.main-content .cardSearch .content{
	height: 545px;
	position:relative;
	background: url(http://static-hearth.cursecdn.com/1-0-5982-28423/Skins/Hearth/images/deckbuilder_card_frame.png);
}

.main-content .cardSearch .content .contentPlace { 
	width:554px;
	height:477px;
	overflow:hidden;
	padding-left:10px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-245px 0 0 -282px}
	
.content .back-arrow{
	left: 5px
}
	
.content .forward-arrow{
	right: 5px;
	background-position: -38px 0;
}
	
.content .arrow {
	background-image: url(http://static-hearth.cursecdn.com/1-0-5982-28423/Skins/Hearth/images/arrows.png);
    position: absolute;
    height: 34px;
    width: 38px;
    top: 50%;
    margin-top: -17px;
    opacity: .5;
    cursor: pointer;
    -webkit-transition: .15s,opacity,linear;
    -moz-transition: .15s,opacity,linear;
    transition: .15s,opacity,linear;
}
.listingBody{
	height:477px;
	position:relative
}
.listingBody .card-image-item:nth-child(6n+1){margin-right:20px}
.listingBody .card-image-item:nth-child(6n+2){margin-right:20px}
.listingBody .card-image-item:nth-child(6n+3){margin-right:20px}
.listingBody .card-image-item:nth-child(6n),
.listingBody .card-image-item:nth-child(6n-2),
.listingBody .card-image-item:nth-child(6n-1){margin-top:244px}
.listingBody .card-image-item:nth-child(6n-1){margin-left:-376px}
.listingBody .card-image-item:nth-child(6n){margin-left:-188px}
.listingBody .card-image-item:nth-child(6n-2){margin-left:-564px}
.listingBody .card-image-item {
	float: left;
	position: relative;
}
div#cards ul.tabbed-tabs {
    height: 31px;
    border-color: #665f55;
    padding-left: 10px;
    margin: 0;
}
.b-tab-item {
    float: left;
    cursor: pointer;
}
.tabbed-tabs li {
    margin-left: 4px;
}

.tabbed-tabs li a {
    content: '';
    height: 34px;
    width: 34px;
    background: url(http://static-hearth.cursecdn.com/1-0-5982-28423/Skins/Hearth/images/classes-32.png);
    display: block;
    position: relative;
    top: 1px;
    left: 1px;
}

.tabbed-tabs li[data-tab-id="Druid"] a {
    background-position: 0 -192px;
}

.tabbed-tabs li[data-tab-id="Warrior"] a {
    background-position: 0 -32px;
}

.tabbed-tabs li[data-tab-id="Shaman"] a {
    background-position: 0 -64px;
}

.tabbed-tabs li[data-tab-id="Rogue"] a {
    background-position: 0 -96px;
}

.tabbed-tabs li[data-tab-id="Paladin"] a {
    background-position: 0 -128px;
}

.tabbed-tabs li[data-tab-id="Hunter"] a {
    background-position: 0 -160px;
}

.tabbed-tabs li[data-tab-id="Warlock"] a {
    background-position: 0 -224px;
}

.tabbed-tabs li[data-tab-id="Mage"] a {
    background-position: 0 -256px;
}
.tabbed-tabs li[data-tab-id="Priest"] a {
    background-position: 0 -288px;
}
.sidebar{float:left;width:200px;}
.sidebar .widget{-webkit-border-radius:3px;border-radius:3px;border:1px solid #ccc;margin-left:20px;background-color:#faf9f0;-webkit-box-shadow:inset 0 0 0 3px rgba(255,255,255,0.8),0 3px 0 -2px rgba(0,0,0,0.1);box-shadow:inset 0 0 0 3px rgba(255,255,255,0.8),0 3px 0 -2px rgba(0,0,0,0.1);}
.sidebar .widget h1{font-family:'Quicksand';margin:13px 10px 4px;padding-bottom:10px;border-bottom:1px dotted #ddd;-webkit-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;margin-bottom:10px}
.sidebar .widget p{font-size:13px;padding:0 10px;margin-bottom:10px}
input{font-size:13px;padding:2px 2px;margin-bottom:10px}
p{line-height:1.8}
footer{width:500px;margin:10px auto;border-top:1px dotted #ccc;padding-top:5px;font-size:13px}