include ../layout.jade

include ../top_menu.jade
.all_center_block
  .container
    .col-md-12
      .row
        if(user="undefined")
          form(action="/login" method="post")
            .login
              .header.mid
                p Логин
              input(type="text" name="log" placeholder="name = 'log'")
            .pass
              .header.mid
                p Пароль
              input(type="password" name="pass" placeholder="name = 'pass'")
            button(type="submit") Войти!  
        else
          p Вы уже залогинены!

include ../footer.jade          

include ../layout_ft.jade
