include ../layout.jade
.overlay
  form(action='/login' metod='post')
    .login
      .header.mid
        p Логин
      input(type="text" name="log" placeholder="name = 'log'")
    .pass
      .header.mid
        p Пароль
      input(type="password" name="pass" placeholder="name = 'pass'")
    button(type="submit") Войти!  
include ../layout_ft.jade
