include ./../includes/layout.jade
  
include ./../includes/top_menu.jade

p Sobaki, hey!

video(type="video/mp4" controls="controls")
  source(src="public/video/test.mp4")

include ./../includes/footer.jade

include ./../includes/layout_ft.jade
