include ./../includes/layout.jade
  
include ./../includes/top_menu.jade

p Sobaki, hey!
script(src='../public/libs/spruto/player.js', type='text/javascript')
script.splayer.
  var params = {"playlist":[{"video":[{"url":"/public/video/test.mp4"}],"duration":0,"posterUrl":""}],"uiLanguage":"ru","width":"640","height":"360"}; player.embed(params);


include ./../includes/footer.jade

include ./../includes/layout_ft.jade
