@mixin phd {
  color: #666;
  opacity: 1;
}

*::-webkit-input-placeholder {
	@include phd;
}
*:-moz-placeholder {
	@include phd;
}
*::-moz-placeholder {
	@include phd;
}
*:-ms-input-placeholder {
	@include phd;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  /**/
}
body input:required:valid,
body textarea:required:valid {
  /**/
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

@import "colorize";
