.navbar-fixed-bottom.row-fluid
  .navbar-inner
    footer.container-fluid
      .container
        .row
          .col-md-4.contacts
            p W'Studio Школа стилистов ....-2017
            p Адрес: Г. Москва, ул. Рязанский проспект, 22/2
            p Телефон: +7 (...) ... - .. - ..
            p Как проехать?
          .col-md-4.soc
            //ro_sq = round square
            a(href="https://vk.com/id15140215").ro_sq
              i(aria-hidden="true").fa.fa-vk
            a(href="https://www.instagram.com/faceart.msk/").ro_sq
              i(aria-hidden="true").fa.fa-instagram
            a(href="https://telegram.me/ivanna_nails").ro_sq
              i(aria-hidden="true").fa.fa-telegram
            a(href="https://www.youtube.com/channel/UCHljhioqC73ovELBU4qGnSQ").ro_sq
              i(aria-hidden="true").fa.fa-youtube
          .col-md-4.diamant
            p Дизайн сайта:
            br
            p 
              a(href="#") Diamant Studio
