include layout.jade
form
  input(type="text" placeholder="Название статьи" name="name")
  br
  textarea(rows="8" cols="80" placeholder="Текст статьи" name="text")
  br
  button(type="submit") Отправить на сервер!
include layout_ft.jade
