include ./../includes/layout.jade
  
include ./../includes/top_menu.jade

- var courses_json = JSON.parse(courses)
- var num = 0
	while courses_json[num].name.english != selected_name
		- num++
- var i = 1
- var j = 0
	.container
		.albums.no_top
			.row
				.header.col-md-12
					p #{courses_json[num].name.russian} 
				.col-md-12
					ul
						while i < courses_json[num].program.length
							li День #{i+1}:
								ul
									while j < courses_json[num].program[i].length
										li #{courses_json[num].program[i][j]}
										- j++ 
							- i++

include ./../includes/footer.jade

include ./../includes/layout_ft.jade
