<!DOCTYPE html>
<!--Обычные комментарии для IE.--><!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Template</title>
    <meta name="description" content="">
    <meta http-equiv="X_UA_Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link link rel="shortcut icon" href="./img/favicon.png">
    <!--Bootstrap332-->
    <link link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css">
    <!--FA470-->
    <link link rel="stylesheet" href="libs/font-awesome-4.2.0/css/font-awesome.min.css">
    <link link rel="stylesheet" href="libs/fancybox/jquery.fancybox.css">
    <link link rel="stylesheet" href="libs/owl-carousel/owl.carousel.css">
    <link link rel="stylesheet" href="libs/countdown/jquery.countdown.css">
    <link link rel="stylesheet" href="css/fonts.css">
    <link link rel="stylesheet" href="css/main.css">
    <link link rel="stylesheet" href="css/media.css">
  </head>
  <body></body>
</html>
<div class="overlay">
  <form>
    <p>Регистрация
      <div class="registrn">
        <div class="email">
          <div class="header mid">
            <p>Ваше мыльцо:</p>
            <input type="text" name="email" placeholder="name = 'email'">
          </div>
        </div>
        <!--Мобильный телефон (mbphn)-->
        <div class="reg mbphn"> 
          <div class="header mid">
            <p>Ваш телефон:</p>
            <input type="text" name="mbphn" placeholder="name = 'mbphn'">
            <!--Допилю потом форму номера, в которую можно вводить только определенные цифры.-->
          </div>
        </div>
        <div class="reg pass">
          <div class="header mid">
            <p>Пароль:</p>
          </div>
          <input type="password" name="pass" placeholder="name = 'pass'">
        </div>
        <div class="reg ver pass">
          <div class="header mid">
            <p>Повторите пароль:</p>
          </div>
          <input type="password" name="ver_pass" placeholder="name = 'ver_pass'">
          <!--Сравнение паролей добавлю позже.-->
        </div>
        <button type="submit">Зарегистрироваться!  </button>
      </div>
    </p>
  </form>
</div>
<!--Обычные комментарии для IE.--><!--[if lt IE 9]>
<script src="libs/html5shiv/es5-shim.min.js"></script>
<script src="libs/html5shiv/html5shiv.min.js"></script>
<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
<script src="libs/respond/respond.min.js"></script>
<![endif]-->
<script src="libs/jquery/jquery-1.11.1.min.js"></script>
<script src="libs/jquery-mousewheel/jquery.mousewheel.min.js"></script>
<script src="libs/fancybox/jquery.fancybox.pack.js"></script>
<script src="libs/waypoints/waypoints-1.6.2.min.js"></script>
<script src="libs/scrollto/jquery.scrollTo.min.js"></script>
<script src="libs/owl-carousel/owl.carousel.min.js"></script>
<script src="libs/countdown/jquery.plugin.js"></script>
<script src="libs/countdown/jquery.countdown.min.js"></script>
<script src="libs/countdown/jquery.countdown-ru.js"></script>
<script src="libs/landing-nav/navigation.js"></script>
<script src="js/common.js"></script>
<script src="jquery.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>
<!--Yandex.Metrika counter-->
<!--Google Analytics counter-->