.content
    include ../layout.jade
    
    include ../top_menu.jade
    
    .container
            .row.map
                .col-md-12
                    .header
                        p Схема проезда:
                .col-md-12.col-xs-12
                        iframe(src="https://yandex.ru/map-widget/v1/-/CBeObYWTKD" width="100%" height="400" frameborder="0")
            .row.mt13
                .col-md-4.col-xs-12
                    .head_cont
                        p Адрес
                    .cont_cont.malla
                        br.hidden-xs
                        p Г. Москва, ул. Рязанский пр., 22к2,
                        p м. Рязанский проспект,
                        p бизнес-центр "Собачий сын",
                        p 3 этаж, офис 300-какой-то.
                .col-md-4.col-xs-12
                    .head_cont
                        p Как проехать?
                    .cont_cont.howto
                        br.hidden-xs
                        p Сесть в восточный вагон, выйти налево, повернуться 3 раза против часовой стрелки, указующий перст покажет выход.
                        p P.S.: Не забыть выпить кровь девственницы!
                .col-md-4.col-xs-12
                    .head_cont
                        p Контакты
                    .cont_cont
                        br.hidden-xs
                        p.cont_info Телефон , Viber , WhatsApp , Telegram:
                        p.marra +7 (964) 575 - 78 - 36
                        p.cont_info E-mail:
                        p.marra vashvisage@gmail.com
                        p.cont_info Instagram:
                        p.marra Anna_shkolastilistov
.contacts_sm_footer                
    include ../footer.jade

include ../layout_ft.jade
