.content
    include ../layout.jade
    
    include ../top_menu.jade

    p Адрес: Г. Москва, ул. Рязанский проспект, 22/2
    p Телефон: +7 (964) 575 - 78 - 36
    img(src="public/img/map.png" alt="")

include ../footer.jade

include ../layout_ft.jade
