include ../layout.jade
  
include ../top_menu.jade

.container
  .col-md-12
    .tableHeader
      .productTitleHeader.col-md-6 Наименование
      .productPriceHeader.col-md-6 Цена
    .tableRow
      .productTitle.col-md-6 1
      .productPrice.col-md-6 2
    .tableRow
      .productTitle.col-md-6 1
      .productPrice.col-md-6 2
    .tableRow
      .productTitle.col-md-6 1
      .productPrice.col-md-6 2
    .tableRow
      .productTitle.col-md-6 1
      .productPrice.col-md-6 2
    .tableRow
      .productTitle.col-md-6 1
      .productPrice.col-md-6 2
    .tableRow
      .productTitle.col-md-6 1
      .productPrice.col-md-6 2
    .tableRow
      .productTitle.col-md-6 1
      .productPrice.col-md-6 2
    .tableRow
      .productTitle.col-md-6 1
      .productPrice.col-md-6 2
    .tableRow
      .productTitle.col-md-6 1
      .productPrice.col-md-6 2
    .tableRow
      .productTitle.col-md-6 1
      .productPrice.col-md-6 2
    .tableRow
      .productTitle.col-md-6 1
      .productPrice.col-md-6 2
    .tableRow
      .productTitle.col-md-6 1
      .productPrice.col-md-6 2
  
include ../footer.jade

include ../layout_ft.jade

